body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #bebebe;
    height: 100%;
}

#intro {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
    width: 100%;
    font-family: 'Courier New', monospace;
    color: green;
}

#terminal {
    font-size: 1.5em;
    white-space: pre-line;
    text-align: center;
}

.fade-out {
    animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

header {
    background: #35424a;
    color: #ffffff;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
}

main {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0 0 30px #000000;
}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
}

h2, h3 {
    color: #35424a;
}

a {
    text-decoration: none;
    font-weight: bold;
}

#languages{
	display: flex;
	gap: 5px;
}

.codeLabel {
	border: 1px black solid;
	border-radius: 4px;
	padding: 4px 10px;
	font-weight: bold;
}

.python {
	background-color: #a9e05c;
}

.html {
	background-color: #77f5f7;
}

.css {
	background-color: #f7ff63;
}

.javascript {
	background-color: #fc5677;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }
    
    main {
        padding: 15px;
    }
    
    h2, h3 {
        font-size: 1.5rem;
    }
    
    nav ul li a {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    header {
        padding: 20px 0;
    }
    
    main {
        padding: 10px;
        box-shadow: none;
    }
    
    h2, h3 {
        font-size: 1.2rem;
    }
    
}

